<div
  class="min-h-screen flex flex-col items-center justify-center p-6 bg-[#f7f9ff] font-body slow-fade"
>
  <div class="flex flex-col items-center mb-6">
    <span class="material-symbols-outlined text-[40px] text-[#019ce4] mb-2"
      >school</span
    >
    <h2 class="text-[28px] font-bold text-[#181c21]">Forgot Password?</h2>
    <p class="text-[15px] text-[#3f4851]">
      Enter your email to receive reset instructions.
    </p>
  </div>

  <div
    class="w-full max-w-[440px] bg-white border border-[#ebeef5] rounded-[12px] shadow-sm p-8"
  >
    <form (ngSubmit)="onSendLink()" class="flex flex-col gap-5">
      <div
        *ngIf="errorMessage"
        class="p-3 bg-red-50 text-red-600 text-sm rounded-md text-center"
      >
        {{ errorMessage }}
      </div>
      <div>
        <label class="block text-[13px] font-semibold mb-2"
          >Email Address</label
        >
        <div class="relative">
          <span
            class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-[#bec8d2]"
            >mail</span
          >
          <input
            [(ngModel)]="email"
            name="email"
            required
            class="w-full border border-[#bec8d2] rounded-[8px] pl-10 py-3 text-[14px] outline-none focus:ring-1 focus:ring-[#019ce4]"
            placeholder="name@example.com"
          />
        </div>
      </div>
      <button
        type="submit"
        [disabled]="isLoading"
        class="w-full bg-[#019ce4] text-white rounded-[8px] py-3 font-semibold hover:bg-[#49a0dc] transition-all"
      >
        {{ isLoading ? "Sending..." : "Send Reset Code" }}
      </button>
      <a
        routerLink="/signin"
        class="flex justify-center items-center gap-1 text-[14px] font-bold text-[#019ce4]"
      >
        <span class="material-symbols-outlined text-[18px]">arrow_back</span>
        Back to Sign In
      </a>
    </form>
  </div>
</div>
